@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (max-width: 375px) {
	body {
		width: 375px;
		overflow-x: hidden;
	}
}

.primary-menu-toggle {
	@apply relative w-8 h-6;

	span {
		@apply pointer-events-none rounded absolute top-0 right-0 bottom-0 left-0 m-auto h-1 bg-zinc-800 transition-all;
	}
	span:nth-child(1) {
		@apply bottom-auto;
	}
	span:nth-child(3) {
		@apply top-auto;
	}
}

@screen pc {
	.primary-menu-toggle {
		@apply hidden;
	}
}

.primary-menu-toggle.open-drawer {
	span {
		@apply bg-white;
	}
	span:nth-child(1) {
		@apply top-auto -rotate-45;
	}
	span:nth-child(2) {
		@apply opacity-0;
	}
	span:nth-child(3) {
		@apply bottom-auto rotate-45;
	}	
}

#primary-menu {
	@apply fixed z-40 top-0 right-0 left-0 w-full h-screen p-8 overflow-y-scroll opacity-0 pointer-events-none bg-gray-800 transition-all ease-in duration-300;

	.primary-menu-toggle {
		@apply absolute top-6 right-4;
	}

	a {
		@apply block w-full py-4 px-2 text-white text-center;
	}
}

@screen pc {
	#primary-menu {
		@apply relative w-auto h-auto p-0 overflow-auto opacity-100 pointer-events-auto bg-transparent overflow-visible;

		ul {
			@apply flex flex-wrap justify-end;
		}

		a {
			@apply py-2 text-inherit;
		}

		.current-menu-item {
			@apply relative font-bold;

			a {
				@apply text-primary;
			}
		}
	}
}

#primary-menu.open-drawer {
	@apply opacity-100 pointer-events-auto;
}

body.open-drawer {
	@apply fixed w-full;
}

.fadeIn {
	transform: translateY(40px);
	opacity: 0;
	transition: 0.5s;
}

.fadeIn.scrollIn {
	transform: translateY(0);
	opacity: 1;
}

.splide .splide__track {
	@apply absolute top-0 right-0 bottom-0 left-0 z-10;

	li, picture, img {
		@apply w-full h-full;
	}
}
