@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#primary-menu-toggle {
	@apply relative z-50 w-12 h-8;

	span {
		@apply pointer-events-none rounded absolute top-0 right-0 bottom-0 left-0 m-auto h-1 bg-zinc-800 transition-all;
	}
	span:nth-child(1) {
		@apply bottom-auto;
	}
	span:nth-child(3) {
		@apply top-auto;
	}
}

#primary-menu-toggle.open-drawer {
	span {
		@apply bg-white;
	}
	span:nth-child(1) {
		@apply top-auto -rotate-45;
	}
	span:nth-child(2) {
		@apply opacity-0;
	}
	span:nth-child(3) {
		@apply bottom-auto rotate-45;
	}	
}

#primary-menu {
	@apply fixed z-40 top-0 right-0 left-0 w-full h-screen p-8 overflow-y-scroll opacity-0 pointer-events-none bg-gray-800;
}

#primary-menu.open-drawer {
	@apply opacity-100 pointer-events-auto;
}

body.open-drawer {
	@apply fixed;
}
