@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (max-width: 375px) {
	body {
		width: 375px;
		overflow-x: hidden;
	}
}

/**
 * Drawer menu styles.
 */
.primary-menu-toggle {
	@apply relative w-8 h-6;

	span {
		@apply pointer-events-none rounded absolute top-0 right-0 bottom-0 left-0 m-auto h-1 bg-zinc-800 transition-all;
	}
	span:nth-child(1) {
		@apply bottom-auto;
	}
	span:nth-child(3) {
		@apply top-auto;
	}
}

@screen pc {
	.primary-menu-toggle {
		@apply hidden;
	}
}

.primary-menu-toggle.open-drawer {
	span {
		@apply bg-white;
	}
	span:nth-child(1) {
		@apply top-auto -rotate-45;
	}
	span:nth-child(2) {
		@apply opacity-0;
	}
	span:nth-child(3) {
		@apply bottom-auto rotate-45;
	}	
}

#primary-menu {
	@apply fixed z-40 top-0 right-0 left-0 w-full h-screen p-8 overflow-y-scroll opacity-0 pointer-events-none bg-gray-800 transition-all ease-in duration-300;

	.primary-menu-toggle {
		@apply absolute top-6 right-4;
	}

	a {
		@apply block w-full py-4 px-2 text-white text-center;
	}
}

@screen pc {
	#primary-menu {
		@apply relative w-auto h-auto p-0 overflow-auto opacity-100 pointer-events-auto bg-transparent overflow-visible;

		ul {
			@apply flex flex-wrap justify-end;
		}

		a {
			@apply py-2 text-inherit;
		}

		.current-menu-item {
			@apply relative font-bold;

			a {
				@apply text-primary;
			}
		}
	}
}

#primary-menu.open-drawer {
	@apply opacity-100 pointer-events-auto;
}

body.open-drawer {
	@apply fixed w-full;
}

/**
 * Animation styles.
 */
.fadeIn {
	@apply transition-opacity transition-transform opacity-0 translate-y-10 duration-500 ease-in-out;
}

.fadeIn.scrollIn {
	@apply translate-y-0 opacity-100;
}

/**
 * Splide styles.
 */

 .splide .splide__track {
	@apply absolute top-0 right-0 bottom-0 left-0 z-10;

	li, picture, img {
		@apply w-full h-full;
	}

	img {
		@apply object-cover;
	}
}

/**
 * Form styles.
 */
.input {
	@apply block w-full px-4 py-3 leading-tight border appearance-none text-primary font-semibold rounded;	
}

.textarea {
	@apply block w-full px-4 py-3 leading-tight rounded border appearance-none text-primary font-semibold;
}

.select {
	@apply bg-white border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}

.wpcf7-form {
	label {
		@apply inline-block mb-2 font-bold;
	}

	.wpcf7-submit {
		@apply block mx-auto mt-8 py-4 px-16 text-lg font-bold text-white border-2 border-transparent bg-primary rounded shadow-md;
		&:hover {
			@apply bg-white text-primary border-primary shadow-lg;
		}
	}

	.wpcf7-spinner {
		@apply absolute top-0 right-0 bottom-0 left-0 m-auto;
	}

	.wpcf7-form-control-wrap {
		@apply block w-full mb-0;
	}

	.wpcf7-checkbox,
	.wpcf7-radio {
		@apply flex flex-wrap flex-col gap-2 leading-none accent-fuchsia-600;

		.wpcf7-list-item {
			@apply m-0 leading-none;
	
			label {
				@apply flex items-center gap-2 m-0 font-normal;
			}
		}

		input {
			@apply w-5 h-5;
		}
	}

	.wpcf7-not-valid {
		@apply border-red-600;
	}

	.wpcf7-not-valid-tip {
		@apply font-semibold text-xs text-red-600 block mt-2;
	}

	.wpcf7-response-output {
		@apply rounded border text-sm font-bold mt-0 my-auto relative;

		&.wpcf7-validation-errors {
			@apply border-red-600 text-red-600;
		}

	&.wpcf7-mail-sent-ok {
		@apply text-primary border-primary;
		}
	}
}
